:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

app-login-form-gestore {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
