.form-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 2px solid black;
  max-width: 900px;
  margin: auto;
}

#dynamic-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-body {
  width: 100%;
  display: flex;
  padding: 20px 35px 35px;
}

#header {
  width: 100%;
  height: fit-content;
  background-color: #51545b;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  font-weight: bold;
}

#dynamic-form > div > div {
  margin: 10px;
}

#form-inputs {
  width: 60%;
  height: 400px;
}

#form-img {
  display: flex;
  width: 40%;
  height: 400px;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#form-img > div {
  margin: 0 0 15px;
  text-align: center;
}

.form-group {
  margin-bottom: 22px;
}

.image-preview img {
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/*stile per gli input*/
.float-label-container {
  position: relative;
  margin-bottom: 20px;
}

#dynamic-form label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #888;
  transition: all 0.2s ease-in-out;
  pointer-events: none; /* Impedisce clic accidentali sulla label */
}

#dynamic-form label.floating {
  top: -15px;
  font-size: 12px;
  color: #000000; /* Colore in focus */
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra */
}

/* Effetto focus */
.form-control:focus {
  border-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra più marcata al focus */
}

/* Altezza specifica per textarea */
#dynamic-form textarea.form-control {
  min-height: 100px;
  resize: none; /* Permette di ridimensionare solo verticalmente */
}

/* Nasconde il testo predefinito (gg/mm/aaaa) per evitare sovrapposizione con il placeholder 'Scadenza' */
input[type='date'] {
  color: transparent;
  transition: color 0.2s ease-in-out;
}

/* Mostra il testo predefinito (gg/mm/aaaa) quando il campo è in focus */
input[type='date'].focused {
  color: #000;
}

/* Mostra il valore della data se il campo ha una data valida (quindi anche quando perde il focus) */
input[type='date'].valid-date {
  color: #000;
}
