<!-- Container principale per l'interfaccia -->
<div class="container">
  <!-- Contenitore interno che racchiude tutti gli elementi -->
  <div class="intern-container">
    <div class="cancel">
      <!-- Pulsante per chiudere o annullare l'azione -->
      <button id="cancella">X</button>
    </div>

    <div class="header">
      <!-- Titolo che descrive l'azione -->
      <h2>Inserisci codice a Barre</h2>
      <!-- Campo input per l'inserimento del codice a barre -->
      <input type="number" placeholder="XXXXXXXXXXXXXX" />
    </div>

    <div class="footer">
      <!-- Pulsante personalizzato per inserire manualmente il codice -->
      <navigationBtn label="Inserisci Manualmente"></navigationBtn>
      <!-- Pulsante personalizzato per confermare l'inserimento del codice -->
      <navigationBtn label="Conferma Codice"></navigationBtn>
    </div>
  </div>
</div>
