.breadcrumb {
  display: flex; /* Imposta un layout flessibile per il contenitore del breadcrumb */
  justify-content: flex-start; /* Allinea gli elementi del breadcrumb a sinistra */
  padding-left: 50px; /* Aggiunge uno spazio a sinistra */
  margin-bottom: 15px; /* Aggiunge uno spazio inferiore */
}

:host ::ng-deep .p-breadcrumb {
  border: none;
}

:host ::ng-deep .p-breadcrumb .p-menuitem-link {
  gap: 8px;
}
