.my-btn1 {
  min-width: 100px;
  background-color: #8ba576;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.my-btn1:hover {
  background-color: #778a67;
}

.my-btn1:active {
  transform: scale(0.95); /* Riduci la dimensione del bottone per simulare la pressione */
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1); /* Aggiungi ombra interna per effetto di profondità */
}

@media (max-width: 768px) {
  .my-btn1 {
    min-width: 10px;
    background-color: #8ba576;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.5em;
    font-weight: bold;
    text-align: center;
  }
}
