<footer class="footer p-3">

  <div class="footer-content">
    <!-- Link principali -->
    <div class="links mb-4">
      <a routerLink="/catalogo" class="footer-link">Prodotti</a>
      <a routerLink="/chiSiamo" class="footer-link">Chi Siamo</a>
      <a routerLink="/diventaUnContadino" class="footer-link">Diventa uno di noi</a>
      <a href="#" class="footer-link">Condizioni d'uso</a>
      <a href="#" class="footer-link">Privacy</a>
      <a href="#" class="footer-link">Preferenze Cookie</a>
    </div>

    <!-- Social Media Icons -->
    <div class="social-icons mb-4">
      <button pButton icon="pi pi-facebook" class="p-button-secondary bg-transparent icon-button"></button>
      <button pButton icon="pi pi-twitter" class="p-button-secondary bg-transparent icon-button"></button>
      <button pButton icon="pi pi-instagram" class="p-button-secondary bg-transparent icon-button"></button>
      <button pButton icon="pi pi-linkedin" class="p-button-secondary bg-transparent icon-button"></button>
      <button pButton icon="pi pi-github" class="p-button-secondary bg-transparent icon-button"></button>
      <button pButton icon="pi pi-slack" class="p-button-secondary bg-transparent icon-button"></button>
    </div>


    <!-- Titolo del sito e nome team -->
    <div class="site-title">
      <h2>ZeroWaste Home</h2>
      <p class="subtitle">EcoCode</p>
    </div>
  </div>
</footer>
