<div class="card flex justify-content-center">
  <!-- Container principale:
       - Classe "card": Fornisce uno stile predefinito al contenitore (es. ombreggiature, margini).
       - Classe "flex justify-content-center":
         - "flex": Abilita il layout Flexbox per gli elementi interni.
         - "justify-content-center": Centra orizzontalmente il contenuto del contenitore.
  -->

  <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
  <!-- Componente PrimeNG Breadcrumb:
       - Utilizzato per visualizzare un percorso di navigazione gerarchico.
       - Attributi:
         - "class='max-w-full'": Forza il breadcrumb ad avere una larghezza massima pari alla larghezza del contenitore.
         - "[model]='items'": Variabile Angular che contiene i dati delle voci del breadcrumb.
           - Ogni elemento in "items" rappresenta un nodo del percorso (es. 'Home', 'Categorie', 'Prodotti').
         - "[home]='home'": Variabile Angular che rappresenta la voce iniziale (es. 'Home') del breadcrumb.
           - Tipicamente è un oggetto contenente un'icona e un link (es. `{ icon: 'pi pi-home', routerLink: '/' }`).
  -->
</div>