<nav class="navbar">
  <!-- Logo e Titolo -->
  <div class="navbar-left">
    <img src="assets/img/logo.png" alt="ZeroWaste Logo" class="logo" />
    <span class="navbar-title">ZeroWaste Home</span>
  </div>

  <div id="nav-icon4" class="hamburger" (click)="toggleMenu(); toggleOpen()" [class.open]="isOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-right navbar-hidden" [class.active]="menuVisible">
    <!-- Barra di ricerca -->
    <div *ngIf="barra_ricerca !== 'no'" class="navbar-search">
      <span class="pi pi-search search-icon"></span>
      <input type="text" placeholder="Cerca..." />
    </div>

    <!-- Link di navigazione con effetto selezione -->
    <ul class="navbar-links">
      <li
        *ngIf="loggato == 'si'"
        (click)="setActiveLink('alimenti')"
        [class.active]="activeLink === 'alimenti'"
      >
        <a routerLink="/alimenti">Alimenti</a>
      </li>
      <li
        *ngIf="loggato == 'si'"
        (click)="setActiveLink('community')"
        [class.active]="activeLink === 'community'"
      >
        <a>Community</a>
      </li>
      <li
        *ngIf="loggato == 'si'"
        (click)="setActiveLink('donazioni')"
        [class.active]="activeLink === 'donazioni'"
      >
        <a>Donazioni</a>
      </li>

      <li *ngIf="loggato == 'no'">
        <a (click)="scrollToSectionByText('Cosa è ZeroWaste Home')">Chi Siamo</a>
      </li>

      <li *ngIf="loggato == 'no'">
        <a (click)="scrollToSectionByText('I nostri obiettivi')">Obiettivi</a>
      </li>

      <!-- Cerchio che si sposta -->
      <span
        class="moving-circle"
        [ngStyle]="{ transform: circleTransform, display: circleDisplay }"
      ></span>
    </ul>

    <!-- Icona Profilo Utente -->
    <div class="navbar-profile" (click)="toggleUserMenu()">
      <span class="pi pi-user user-icon"></span>
      <!-- Menu a tendina dell'utente -->
      <div *ngIf="userMenuVisible" class="dropdown-menu">
        <ul>
          <li *ngIf="loggato == 'no'" (click)="openModal()">Login</li>
          <li *ngIf="loggato == 'no'" (click)="openModal()">Registrati</li>
          <li *ngIf="loggato == 'si'" routerLink="/area-personale">Area personale</li>
          <li *ngIf="loggato == 'si'">Segnalazioni</li>
          <li *ngIf="loggato == 'si'">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<app-login></app-login>
