<div class="page-container">
  <div class="cards-container">
    <div class="card" [routerLink]="'/area-personale/profilo'">
      <div class="card-icon">👤</div>
      <h3>Area Utente</h3>
      <p>Accedi alla sezione dedicata ai dati sensibili e informazioni dell'utente</p>
    </div>
    <div class="card" [routerLink]="'/area-personale/le-mie-ricette'">
      <div class="card-icon">📖</div>
      <h3>Le Mie Ricette</h3>
      <p>Accedi alla sezione dedicata alle tue ricette</p>
    </div>
    <div class="card">
      <div class="card-icon">🌱</div>
      <h3>Impatto Ambientale</h3>
      <p>Accedi alla sezione dedicata al tuo impatto ambientale</p>
    </div>
    <div class="card">
      <div class="card-icon">💳</div>
      <h3>Abbonamento</h3>
      <p>Accedi alla sezione dedicata al tuo abbonamento</p>
    </div>
    <div class="card" [routerLink]="'/area-personale/assistenza'">
      <div class="card-icon">🛠️</div>
      <h3>Assistenza</h3>
      <p>Accedi alla sezione dedicata all'assistenza</p>
    </div>
    <div class="card">
      <div class="card-icon">🍴</div>
      <h3>Piano Alimentare</h3>
      <p>Accedi alla sezione dedicata al tuo piano alimentare</p>
    </div>
    <div class="card">
      <div class="card-icon">⚠️</div>
      <h3>Segnalazioni</h3>
      <p>Accedi alla sezione dedicata alla visualizzazione delle segnalazioni</p>
    </div>
    <div class="card" (click)="logout()">
      <div class="card-icon">🔓</div>
      <h3>Logout</h3>
      <p>Esci dal tuo account e termina la sessione in modo sicuro.</p>
    </div>
  </div>
</div>
