.contenitore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container-bordi-rotondi {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 70%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fdfbf2;
}

thead {
  background-color: #8ba576;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #778a67;
}

input[type='checkbox'] {
  transform: scale(1.2);
}
