<app-header></app-header>
<breadcrumb-basic-demo class="breadcrumb" [items]="items" [home]="home"></breadcrumb-basic-demo>
<div class="header-container">
  <p class="list-title">Lista della Spesa</p>
  <userBtn class="userbtn" [label]="'Modifica Lista'"></userBtn>
</div>

<app-shopping-list
  [items]="[
    { name: 'Pane', quantita: 1, checked: true },
    { name: 'Latte', quantita: 2, checked: true },
    { name: 'Uova', quantita: 3, checked: false },
    { name: 'Caviale', quantita: 4, checked: false },
  ]"
></app-shopping-list>

<app-footer></app-footer>
